:local(.dropdown) {
    padding: 0;
}


:local(.dropdownItem:hover){
    background-color: rgba(242, 247, 252, 0.42);
}


:local(.dropdownItem) {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

