:local(.wrapper) {
    background: white;
    border: solid #d0d0d0 1px;
    width: auto;
    height: 30px;
    margin: 10px;
}

:local(.inputColumn) {
    width: 100%;
    height: 100%;
}

:local(.input) {
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 10px;
}

:local(.gripColumn) {
    width: 20px;
    height: 100%;
}

:local(.grip){
    color: #919191;
    margin-right: 5px;
    font-size: 21px
}

:local(.pr100) {
    width: 100%;
    height: 100%;
}

:local(.rotate180) {
    transform: rotate(180deg);
}

:local(.openArea) {
    background-color: white;
    z-index: 999;
    position: relative;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow: hidden;
}
