:local(.sheet) {
    background: white;
    margin: 10px;
    /*height: calc(100% - 60px);*/
    height: 400px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
}

:local(.sheet2) {
    background: white;
    margin: 10px;
    /*height: calc(100% - 60px);*/
    height: 120px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
}
