:local(.dropdown) {
    padding: 0;
}


:local(.columnsItem:hover){
    background-color: rgba(242, 247, 252, 0.42);
}


:local(.columnsItem) {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

:local(.dropDownSubMenu) {
    z-index: 1;
    display: block;
    position: absolute;
    background-color: white;
    width: 160px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    left: 162px;
    top: 85px;
}


:local(.columnName) {
    margin-left: 7px;
}