:local(.tableHead) {
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    height: 26px;
}

:local(.tableHead:hover) {
    background-color: rgba(242, 247, 252, 0.42);
}

:local(.columnName) {
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    width: inherit;
}
