:local(.tableHead) {
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    height: 26px;
}

:local(.columnName) {
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    width: inherit;
}
