:local(.resize) {
    width: 6px;
    height: 26px;
    position: absolute;
}

:local(.resize:hover) {
    cursor: col-resize;
}

:local(.resizeHover) {
    width: 1px;
    background: #3b99fc;
    position: absolute;
    cursor: col-resize;
}
