:local(.resize) {
    width: 6px;
    height: 26px;
    position: absolute;
}

:local(.resize:hover) {
    cursor: col-resize;
}

:local(.resizeHover) {
    width: 2px;
    background: #E0E0E0;
    position: absolute;
    cursor: col-resize;
}
